name: Greeting from Sanjana 
on: push

jobs:
  my-job:
    name: My Job
    runs-on: ubuntu-latest
    steps:
    - name: Print a greeting
      env:
        MY_VAR: Hi there! My name is
        FIRST_NAME: Sanjana
        LAST_NAME: Mahmood  
      run: 
          echo $MY_VAR $FIRST_NAME $LAST_NAME
